/*全てのwebページで使われる可能性のあるスタイルだけのcomponent※これコンポーネントと言っていいのか？*/
.c-blue,.c-yellow{
    display: inline-block;
    letter-spacing: inherit;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    white-space: nowrap;
}
.c-blue{
    color:var(--campus-blue);
}
.c-yellow{
    color:var(--campus-yellow);
}


.c-blue-section-title,.c-yellow-section-title{
    width:100%;
    padding:10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-family:"Noto Sans JP" , sans-serif;
}
.c-blue-section-title{
    border-left:5px solid var(--campus-blue);
    background-color: var(--light-blue);
}
.c-yellow-section-title{
    border-left:5px solid var(--campus-yellow);
    background-color: var(--light-yellow);
}


.c-school-cafe-info{
    width:100%;
    border:6px solid var(--light-yellow);
    outline:1px solid black;
    border-collapse: collapse;
    
    tr{
        th{
            background-color: var(--light-blue);
            padding:10px 0px;
        }
        td{
            border:1px solid black;
            background-color: white;
        }
        th.bold-underline,td.bold-underline{
            border-bottom:2px solid black;
        }
    }
}

.c-blue-arrow,.c-yellow-arrow{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px);
    height: 50px;
    @media (max-width:790px){
        width:calc(100% - 10px);
    }
    /*胴体*/
    &::before{
        content: "";
        position: absolute;
        height:30px;
        width:calc(100% - 38px);
        left:1px;
        z-index:-1;
    }
    /*頭*/
    &::after{
        content: "";
        position: absolute;
        right: 0;
        width: 40px;
        height: 100%;
        background: var(--light-blue);
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        z-index:-1;
    }


}
.c-blue-arrow {
    &::before {
        background: var(--light-blue);
    }
    &::after{
        background: var(--light-blue);
    }
}
.c-yellow-arrow {
    &::before {
        background: var(--light-yellow);
    }
    /*頭*/
    &::after{
        background: var(--light-yellow);
    }
}

.c-ranked-dishs-wrapper{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:10px 0px 0px 0px;
    counter-reset: rank;
    flex-wrap:wrap;
    .ranked-dish-container{
        /*10pxはgapより*/
        flex: 0 0 calc((100% - (2*10px)) / 3);
        outline:1px solid black;
        counter-increment: rank;
        &:nth-child(1){
            border:10px ridge gold;
            background-color: color-mix(in oklab, gold 30%, #FFFFFF 100%) ;
            .dish-name::before{
                color:gold;
            }
        }
        &:nth-child(2){
            border:10px ridge silver;
            background-color: color-mix(in oklab, silver 30%, #FFFFFF 100%) ;
            .dish-name::before{
                color:silver;
            }

        }

        &:nth-child(3){
            border:10px ridge darkorange;
            background-color: color-mix(in oklab, darkorange 30%, #FFFFFF 100%) ;
            .dish-name::before{
                color:darkorange;
            }
        }


        .dish-name{
            border-bottom:1px solid black;
            padding:5px;
            font-size:25px;
            &::before{
                content: counter(rank) "位：";
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
                paint-order: stroke fill;
                white-space: nowrap;

            }
        }
        img{
            display:block;
            width:100%;
        }
        p{
            padding:5px;
            border-top:1px solid black;
        }
    }
    @media (max-width:1000px){
        .ranked-dish-container{
            flex: 0 0 calc((100% - 10px) / 2);
        }
    }
    @media (max-width:600px){
        padding:10px 10px 0px 10px;
        .ranked-dish-container{
            flex: 0 0 calc(100%);
        }        
    }
}

my-accordion{
    display: flex;
    flex-direction: column;

    width:100%;
    overflow-y:hidden;
    --body-height:0px;
    border:10px ridge var(--campus-yellow);;
    .head{
        display: grid;
        grid-row: 1fr auto;
        grid-template-areas: "h3 button";
        
        width:100%;
        background-color: var(--campus-yellow);
        h3{
            grid-area: h3;
            align-self: center;
            margin-left: 10px;

            font-size: 30px;
            padding:10px 0px;
            font-family:"Noto Sans JP" , sans-serif;
        }
        button{
            position:relative;
            grid-area: button;
            justify-self: self-end;
            align-self: center;
            margin-right:10px;
            transform-origin: center;

            width:40px;
            aspect-ratio: 1/1;
            background-color: transparent;
            border: none;
            transition:transform 0.3s ease-in-out;
            /*横棒*/
            &::before{
                position:absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);

                width:6px;
                height:100%;
                background-color: black;
                content: "";
            }
            /*縦棒*/
            &::after{
                position:absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);

                width:100%;
                height:6px;
                background-color: black;
                content: "";
                transition: opacity 0.3s ease-in-out;
            }
        }
    }
    .body{
        width:100%;
        height: 0px;
        transition:height 0.3s ease-in-out;
        .dish-container{
            position:relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:20px;
            flex-wrap: wrap;
            
            padding:10px 0px;
            border-top:1px solid black;
        }
    }
}
my-accordion.open{
    .head{
        button{
            transform: rotateZ(90deg);
            &::after{
                opacity: 0;
            }
        }
    }
    .body{
        height:var(--body-height);
    }

}